<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AllerConnectCommon.Properties.Settings.xstoredbConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=InhaltsstoffeLocal; Integrated Security=True; MultipleActiveResultSets=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>